MS_TENANT_ID=
MS_CLIENT_ID=
MS_CLIENT_SECRET=
MS_GRAPH_SCOPE=

SHAREPOINT_HOSTNAME=
SHAREPOINT_SITE_PATH=
SHAREPOINT_LIST_NAME=

DB_HOST=
DB_PORT=
DB_NAME=
DB_PER_NAME=
DB_SLV_NAME=
DB_USER=
DB_PASSWORD=
DB_SCHEMA=
DB_SSLMODE=
DB_CONNECT_TIMEOUT=15

FILTER_ONLY_PENDING_SHAREPOINT=true
VALIDATE_EMAIL_EXISTS_IN_DB=true
