MS_TENANT_ID=
MS_CLIENT_ID=
MS_CLIENT_SECRET=
 

MS_GRAPH_SCOPE=

SHAREPOINT_HOSTNAME=
SHAREPOINT_SITE_PATH=
SHAREPOINT_LIST_NAME=

DB_HOST=
DB_PORT=
DB_NAME=
DB_USER=
DB_SSLMODE=
DB_PASSWORD=

FILTER_ONLY_PENDING_SHAREPOINT=
VALIDATE_EMAIL_EXISTS_IN_DB=

